---
import Company from "../components/about/Company.astro";
import Content from "../layouts/Content.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const experience = await getCollection("work-experience");
const companies = experience
  .map((company) => company.data)
  .sort((a, b) => b.order - a.order);
---

<Layout title="About Marat Abdulin">
  <Content as="article">
    <h1>About</h1>
    <h2>Work Experience</h2>
    {companies.map((company) => <Company {...company} />)}
  </Content>
</Layout>
