---
import Company from "../components/about/Company.astro";
import Content from "../layouts/Content.astro";
import Layout from "../layouts/Layout.astro";
import MicroLabel from "../components/MicroLabel.astro";

import { getCollection } from "astro:content";

const experience = await getCollection("work-experience");
const companies = experience
  .map((company) => company.data)
  .sort((a, b) => b.order - a.order);
---

<Layout title="About Marat Abdulin">
  <Content as="article">
    <MicroLabel>About</MicroLabel>
    <p>
      I am a seasoned software engineer based in Berlin, Germany. I have a
      strong interest in tasks related to performance enhancement and interface
      refinement. This comes from my belief that exceptional interfaces are
      created through careful attention to detail.
    </p>
    <p>
      When I'm not engaged in engineering tasks, I prioritize maintaining a
      healthy lifestyle. This includes running and other outdoor workouts.
      During my leisure time, I enjoy going on hiking and trekking expeditions.
    </p>
    <p>
      In addition, I am passionate about street photography, a hobby that allows
      me to capture the essence of everyday life. Despite time constraints, my
      enthusiasm for learning and trying new experiences remains unchanged.
    </p>
    <hr class="border-warm-200 my-8" />
    <MicroLabel class="mb-6">Experience</MicroLabel>
    <div class="flex flex-col divide-y divide-warm-200">
      {companies.map((company) => <Company {...company} />)}
    </div>
    <hr class="border-warm-200 my-8" />
    <MicroLabel class="mb-6">Education</MicroLabel>
    <div>
      <h3 class="mb-0 text-lg">
        Kazan National Research Technical University named after A.N.Tupolev
      </h3>
      <div class="text-sm text-warm-600 font-mono">
        <span class="font-medium text-warm-700">Institute of radio-engineering and telecommunications</span>
        <span class="mx-1.5">&middot;</span>2007 - 2011
      </div>
      <div class="mb-4 last:mb-0 text-sm text-warm-400 font-mono">
        Bachelor of Engineering and Technology
      </div>
    </div>
  </Content>
</Layout>
