---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <p class="text-3xl font-semibold pb-4">
    Hey there ✌️<br /> I'm Marat Abdulin
  </p>
  <p class="text-lg pb-3 leading-relaxed">
    A software engineer currently bringing ideas to life at <a
      href="https://taktile.com/">Taktile</a
    > in Berlin. I'm all about those tiny details that transform a good interface
    into an unforgettable one. Off the clock, I'm out capturing life through a lens,
    chasing trails, or unwinding with video games.
  </p>
  <p class="text-lg leading-relaxed">
    Dive into my world, enjoy your stay, and don't hesitate to reach out!
  </p>
</Layout>
