---
import Content from "../layouts/Content.astro";
import Layout from "../layouts/Layout.astro";
import MicroLabel from "../components/MicroLabel.astro";
import SocialLinks from "@components/SocialLinks.astro";
---

<Layout title="Marat Abdulin">
  <Content class="md:mt-4">
    <MicroLabel>Hello</MicroLabel>
    <p class="text-3xl font-semibold pb-2">Hey there</p>
    <p class="text-lg lg:text-xl leading-relaxed">
      I'm Marat Abdulin, a software engineer currently bringing ideas to life at <a
        href="https://taktile.com/">Taktile</a
      > in Berlin. I'm all about those tiny details that transform a good interface
      into an unforgettable one. Off the clock, I'm out capturing life through a
      lens, chasing trails, or unwinding with video games.
    </p>
    <p class="text-lg lg:text-xl leading-relaxed">
      Dive into my world, enjoy your stay, and don't hesitate to reach out!
    </p>
    <hr class="border-warm-200 my-8" />
    <MicroLabel>Currently</MicroLabel>
    <p class="text-base text-warm-600">
      Building decision automation at <a href="https://taktile.com/">Taktile</a>. Focused on
      interface details and developer experience.
    </p>
    <SocialLinks class="mt-4" />
  </Content>
</Layout>
