---
import Icon from "../../components/Icon.astro";
---

<div
  class:list={["w-screen h-screen fixed inset-0 hidden"]}
  data-nav="container"
>
  <div
    class:list={[
      "w-screen h-screen fixed",
      "from-neutral-700 to-neutral-950 opacity-70 bg-gradient-to-b",
    ]}
    data-nav="backdrop"
  >
  </div>
  <div
    class="bg-white absolute rounded-tl-2xl shadow-md right-0 bottom-0 w-11/12"
    data-nav="navigation"
  >
    <button class="absolute right-5 -translate-y-10" data-nav="close">
      <Icon name="cross" class="text-white" />
    </button>
    <nav class="flex flex-col p-5 gap-1">
      <a href="/" class="text-xl">Home</a>
      <a href="/about" class="text-xl">About</a>
    </nav>
  </div>
</div>
