@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

a {
  @apply underline underline-offset-2 decoration-2 decoration-blue-300 text-slate-800 font-medium;
  @apply transition-colors duration-200;
}

a:visited {
  @apply decoration-violet-400 text-slate-600;
}

a:active {
  @apply decoration-blue-500 text-slate-900;
}

a:not(.no-animation):is(:hover, :focus) {
  @apply decoration-blue-400 text-blue-500;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-neutral-800 font-bold;
  @apply mb-6;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply mb-4;}

ul {
  @apply list-disc;
  @apply mb-4 ml-4
}
