---
import Navigation from "./Navigation.astro";
---

<header class="flex justify-between items-center">
  <a
    href="/"
    class:list={[
      "text-[1.375rem] font-bold no-underline group duration-500",
      "sm:text-2xl",
      "no-animation",
      "bg-gradient-to-r from-slate-950 to-slate-800 bg-clip-text text-transparent",
      "hover:from-pink-600 hover:via-red-600 hover:to-yellow-500",
    ]}
  >
    esender.me
  </a>
  <Navigation />
</header>
