---
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) =>
  import.meta.env.DEV ? true : data.published
);
---

<nav class:list={["flex gap-4", "sm:gap-6", "md:gap-10"]}>
  <a href="/">Home</a>
  {!!posts.length && <a href="/posts">Blog</a>}
  <a href="/about">About</a>
</nav>
